.pager
  &__stickers
    display: flex
    justify-content: center
    padding: 0 1.5em

    &__item
      align-content: center
      align-items: center
      display: flex
      height: 45px
      justify-content: center
      margin: 1em
      width: 45px

      &--clickable
        cursor: pointer

      img
        height: auto
        width: 100%
      
      .pager__imageLoader
        width: 100%
        height: 100%

.img
  margin-right: 8px